{% extends 'main.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container" style="width: 20%;">
    <div class="layout__body" style="margin-top: 2rem;">
        <div class="header__title" style="margin-left: -1rem; padding-top: 2rem;">
            <h1>Forgot your password?</h1>
        </div>
    <p>Enter e-mail address used for registration</p>
    <div class="form__group">
        <form action="" method="POST">
            {{ form.as_p }}
            <div class="confirm">
                <p><input type="submit" value="Send e-mail"></p>
            </div>
            {% csrf_token %}
        </form>
    </div>
    </div>
</div>
{% endblock %}