{% extends 'main.html' %}

{% block title %}Change your password{% endblock %}
{% block content %}
<div class="container" style="width: 20%;">

    <div class="layout__body" style="margin-top: 2rem;">
        <div class="header__title" style="margin-left: -1rem; padding-top: 2rem;">
            <h1>Change your password</h1>
        </div>
    <p>Use the form below to change your password </p>
    <div class="form__group">
        <form action="" method="POST">
            {{ form.as_p }}
            <div class="confirm">
                <p><input type="submit" value="Change"></p>
            </div>
            {% csrf_token %}
        </form>
    </div>
    </div>
</div>
{% endblock %}