{% extends 'main.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container" style="width: 30%;">
    <div class="layout__body" style="margin-top: 2rem;">
        <div class="header__title" style="margin-left: -1rem; padding-top: 2rem;">
            <h1>Reset Password</h1>
        </div>
    <p>We've emailed you instructions to reset your password</p>
    <p>If you don't receive an email, please make sure you've entered the correct email address</p>
    <p><a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock %}